{#{% block form_row %}#}
    {#{% spaceless %}#}
            {#{{ form_label(form) }}#}
            {#{{ form_errors(form) }}#}
            {#{{ form_widget(form) }}#}
            {#{{ form_help(form) }}#}
    {#{% endspaceless %}#}
{#{% endblock form_row %}#}

{% block _product_name_widget %}
    <v-text-field label="Name" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}></v-text-field>
{% endblock %}

{% block _product_name_label %}
{% endblock %}

{% block _product_description_widget %}
    <v-text-field label="Description" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}></v-text-field>
    {#<v-textarea label="Description" auto-grow {{ block('widget_attributes') }}>#}
        {#{% if value is not empty %}{{ value }} {% endif %}#}
    {#</v-textarea>#}
{% endblock %}

{% block _product_description_label %}
{% endblock %}

{% block _product_price_widget %}
    <v-text-field label="Price" type="number" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}></v-text-field>
{% endblock %}

{% block _product_price_label %}
{% endblock %}

{% block _product_ean_widget %}
    <v-text-field label="EAN-13" type="number" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}></v-text-field>
{% endblock %}

{% block _product_ean_label %}
{% endblock %}

{% block _product_enabled_widget %}
    {#<label for="product_enabled_published"> Published</label>#}
    <v-checkbox :label="`Published`" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}></v-checkbox>
{% endblock %}

{% block _product_created_at_widget %}
    {#time picker#}
  <v-menu
          ref="menu"
          :close-on-content-click="false"
          v-model="menu_time"
          :nudge-right="40"
          :return-value.sync="time"
          lazy
          transition="scale-transition"
          offset-y

          ref="menu2"
          :close-on-content-click="false"
          v-model="menu_date"
          :nudge-right="40"
          :return-value.sync="date"
          lazy
          transition="scale-transition"
          offset-y
  >
      <v-text-field
              slot="activator"
              v-model="time"
              label="Created at time*"
              prepend-icon="access_time"
              readonly
      ></v-text-field>

      <v-text-field
              slot="activator"
              v-model="date"
              label="Created at date*"
              prepend-icon="event"
              readonly
      ></v-text-field>

      <v-time-picker
              v-if="menu_time"
              v-model="time"
              @change="$refs.menu.save(time)"
      ></v-time-picker>
      <v-date-picker v-model="date" @input="$refs.menu2.save(date)"></v-date-picker>
  </v-menu>

{% endblock %}

{% block _product_created_at_label %}

{% endblock %}

{% block _product_tags_widget %}
    <v-combobox
            v-model="model"
            :items="tags_items"
            :search-input.sync="search"
            hide-selected
            {#hint="Maximum of 5 tags"#}
            label="Tags"
            multiple
            persistent-hint
            small-chips
    >
        <template slot="no-data">
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {#No results matching "<strong>${ search }</strong>". Press <kbd>enter</kbd> to create a new one#}
                        Press <kbd>enter</kbd> to create new tag
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </template>
    </v-combobox>
{% endblock %}

{% block _product_tags_label %}

{% endblock %}

{#{% block form_widget %}#}

{#{% endblock form_widget %}#}

{% block _product_category_autocomplete_widget %}
    <v-combobox
            v-model="select"
            :items="items"
            hide-selected
            label="Category"
            multiple
            persistent-hint
            chips
            name = "test"
            autocomplete
            v-on:input="test_input()"
    >
    </v-combobox>
{% endblock %}

{% block _product_category_label %}

{% endblock %}

{% block easyadmin_widget_groups %}
    {% for group_name, group_config in easyadmin_form_groups if not group_config.form_tab or group_config.form_tab == tab_name %}
        <div class="field-group col-xs-12 {{ group_config.css_class|default('') }}">
            <div class="box box-default">
                {% if group_config.label|default(false) or group_config.icon|default(false) or group_config.collapsible|default(false) %}
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {% if group_config.icon|default(false) %}
                                <i class="fa fa-{{ group_config.icon }}"></i>
                            {% endif %}
                            {{ group_config.label|trans(domain = _translation_domain)|raw }}
                        </h3>
                        {% if group_config.collapsible|default(false) %}
                            <a class="pull-right" role="button" data-toggle="collapse" aria-expanded="{{ group_config.expanded|default(false) ? 'true' : 'false' }}" href="#box-body-{{ group_name }}">
                                <i class="fa fa-plus-square-o"></i>
                                <i class="fa fa-minus-square-o"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="box-body {% if group_config.collapsible|default(false) %}collapse {% if group_config.expanded|default(false) %}in{% endif %}{% endif %}" id="box-body-{{ group_name }}">
                    {% if group_config.help|default(false) %}
                        <p class="help-block">{{ group_config.help|trans(domain = _translation_domain)|nl2br|raw }}</p>
                    {% endif %}

                    <div class="row">
                        {% for field in form if 'hidden' not in field.vars.block_prefixes and field.vars.easyadmin.form_group == group_name %}
                            {% if not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name %}
                                <div class="col-xs-12 {{ field.vars.easyadmin.field.css_class|default('') }}">
                                    {{ form_row(field) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% for field in form if 'hidden' not in field.vars.block_prefixes and (not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name) %}
            <div class="col-xs-12 {{ field.vars.easyadmin.field.css_class|default('') }}">
                {{ form_row(field) }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock easyadmin_widget_groups %}