{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form style="position: relative; top: 50%" class="form-horizontal" role="form" method="POST" action="{{ path("fos_user_security_check") }} ">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2 class="form-header">Please Login</h2>
                        <hr class="form-h-line">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group has-danger">
                            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                {#<div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>#}
                                {#<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />#}
                                <v-text-field solo prepend-icon="person" label="Login" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"></v-text-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                {#<div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>#}
                                {#<input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />#}
                                <v-text-field solo prepend-icon="lock" label="Password" id="password" type="password" name="_password" required="required" autocomplete="current-password"></v-text-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                            <!-- Put password error message here -->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" >
                        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                            {#<label class="form-check-label">#}
                                {#<input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                                {#<span style="padding-bottom: .15rem">{{ 'security.login.remember_me'|trans }}</span>#}
                            {#</label>#}

                            <v-checkbox
                                    label="{{ 'security.login.remember_me'|trans }}"
                                    id="remember_me" name="_remember_me" value="on"
                            ></v-checkbox>


                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" >
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        {#<button type="submit" class="btn btn-info" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"><i class="fas fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>#}
                        <!-- <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a> -->
                        <v-btn type="submit" color="info" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="float: right"> {{ 'security.login.submit'|trans }}</v-btn>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" >
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        {% if error %}
                            <small class="text-info form-text">{{ error.messageKey|trans(error.messageData, 'security') }}</small><br/>
                        {% endif %}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
    </div>

</div>

